  <head>
    <meta charset="UTF-8">
    <title>It Depends...</title>
    <link href="/depends.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/kjson32.ico" type="image/x-icon" />
  </head>
