<!DOCTYPE html>
<html lang="en">
{{>head}}
  <body>
    <div class="main-head">
      <div style="padding-left:20px">It Depends...</div>
    </div>
    <div class="sub-head">
      Groups
    </div>
{{#groups}}
    <div class="entry"><a href="/group/{{&groupId}}">{{&groupId}}</a></div>
{{/groups}}
  </body>
</html>
